<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Access-Control-Allow-Origin" content="*"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <title> Connexion </title>
    <link rel="icon" href="assets/img/icon.ico">

    <link rel="stylesheet" href="assets/css/connexion.css">

</head>

<body>
<div class="login-box">
    <h1>Se connecter</h1>
    <form action="" class="connexionForm" method="post">
        <div class="user-box">
            <input type="text" name="login" required>
            <label>Nom d'utilisateur</label>
        </div>
        <div class="user-box">
            <input type="password" name="pw" required>
            <label>Mot de passe</label>
        </div>
        <div class="class-btn">
            <input type="submit" class="btn submit" value="Se connecter"/>
        </div>
    </form>

    <?php if (!empty($errors)) : ?>

    <?php foreach ($errors as $error): ?>

    <div class="wrong-login">
        <?= $error ?> <br/>
    </div>

    <?php endforeach; ?>

    <?php endif; ?>

</div>
<div class="crea-box">
    <button class="btn creation " onclick="window.location.href = 'inscription.php';">Créer un compte</button>
</div>

</body>
</html>